# Ignore build directories
build/*
devel/*
tracking/*
rosbags/*
logs/*

database/*
database*.zip

input_images*
.catkin_tools/*

# Do not Ignore these files
!*/bag2csv.py
!*/framePlayer.py
!*/folderForTrackVideos.txt
!*/folderForCSVlogFiles


std*
*.pyc
drone.db

autostart/jetson_hotspot_service/
autostartService.log
.vscode/
flightlogs/
typescript
.rosinstall
.rosinstall.bak

#*.pdf
create_plot/*.pdf
create_plot/plot.pdf
create_plot/plot_estimation.pdf
create_plot/current_directory.cfg
nohup.out
master_discovery_fkie.out
master_sync_fkie.out
src/dji_sdk/scripts/balora/Data_*.txt
